<style>
    table.exterior{border: 2px ridge darkblue; width: 100%; text-align: center}
    table.interior{text-align: center; width: 100%; margin-left: 40px}
    th{border: 1px solid}
</style>
<div style="padding: 10px; background-color:darkturquoise; width: 100%; height: 200px">
    <h1> Some form here</h1>
    {% comment %} 
    {% if theatre_info_list %}
   <form action="{% url 'polls:result' preformance price places%}" method="GET">
        {% csrf_token %}
        <select>
            {% for theatreinfo in theatre_info_list%}
                    <option value="preformance">{{theatreinfo.preformance}}</option>
            {% endfor %}
        </select>
        <select>
            {% for theatreinfo in theatre_info_list%}
                    <option value="price">{{theatreinfo.price}}</option>
            {% endfor %}
        </select>
        <select>
            {% for theatreinfo in theatre_info_list%}
                    <option value="places">{{theatreinfo.places}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form> 
    
    {% else %} 
        <p> No theatre information </p>
    {% endif %}
    {% endcomment %}
    <a href="{% url 'select_table' %}" class=""></a>
</div>
<div>
    {% if clients_records_list %}
        <table class="exterior">
            {% for customer in clients_records_list %}
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.adress}}</td>
                    <tr>
                        <th colspan="3">
                            <table cellpadding = "2" class="interior">
                                {%for order in customer.orders.all%}
                                <tr>
                                    <td>{{order.preformance}}</td>
                                    <td>{{order.price}}</td>
                                    <td>{{order.places}}</td>
                                </tr>  
                                {%endfor%}
                            </table>
                        </th>
                    </tr>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p> No polls available </p>
    {% endif %}
</div>