
<html>
    <head>
        <style>
            h1{font-size: 20px; color: rebeccapurple}
        </style>
    </head>
    <body>
        <h1>Hello world!</h1>
        <table>
            <tr>
                <th>
                    <dir>
                        Wellcome to DB work page!
                    </dir>
                    <dir>

                    </dir>
                </th>
            </tr>
            {% for col in cols %}

            {% endfor %}
        </table>
    </body>
</html>